@import './../../app.module.scss';

.componentTabs {
  ul {
    display: flex;
    justify-content: space-around;
    box-shadow:inset 0 -2px 0 0 $grey;
    border-bottom: 0;

    li {
      padding-bottom: 0.5rem;

      &.active {
        border-bottom: 2px solid $color-hover;

        a {
          color: $color-hover;
        }
      }

      a {
        color: black;
        font-size: 1.4rem;
        font-family: 'BebasNeueRegular', serif;
        transition: color 0.5s;

        &:hover {
          color: $color-hover;
        }

        &:hover, &:focus, &:visited {
          text-decoration: none;
        }
      }
    }
  }
}