@import '../../style.global.scss';


html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

// ???
//body, body > div {
//  height: 100%;
//}

.appWrapper {
  z-index: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  header: {
    z-index: 3;
  }

  main {
    z-index: 2;
    display: flex;
    flex: 1;
  }

  footer: {
    z-index: 1;
  }
}

.mainGridWrapper,
.breadcrumbsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.breadcrumbsWrapper > div {
  flex-grow: 1;
}



// Breadcrumbs
.breadcrumbs {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 2px;
  background-color: white;
  @include shadow();

  .breadcrumbs__separator {
    margin: 0 .5rem;
    color: #585858;
  }

  a {
    color: #585858;

    &:hover {
      color: #9d331b;
    }
  }
}