
html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body, body > div {
  height: 100%;
}

.appWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
}

.flexGrowFull {
  flex-grow: 1;
}