@import './../../style.global';


.Dropdown-root {

  .Dropdown-control {
    &.Dropdown-disabled {
      .Dropdown-placeholder {
        color: #e1e1e1;
      }
    }
  }

  .Dropdown-menu {

    .Dropdown-option {
      &.is-selected {
        background-color: #f5f5f5;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  &.is-open {
    .Dropdown-control {
      @include shadow();
    }

    .Dropdown-menu {
      @include shadow();
    }
  }
}