@import "./../../index.module.scss";

.footerWrapper {
	background-color: #f8f8f8;
	border-top: 1px solid #e1e1e1;
	padding: 0 1rem;

	a {
		color: $color-header-top-menu;
		transition: color 0.5s;

		&:hover,
		&:focus,
		&:visited {
			text-decoration: none;
		}
		&:hover {
			color: $color-hover;
		}
	}
}