@import "./../../../index.module.scss";

.textarea {
  padding: .5rem;
  border: 2px solid $grey;
  border-radius: 0;

  &:focus {
    border: 2px solid $dark-grey;
  }

  &::placeholder {
    color: $grey;
  }
}