@import "./../../index.module.scss";

.label {
  line-height: 1.25rem;
  font-family: BebasNeueRegular, serif;
  text-transform: uppercase;
}

.accentBlue {
  background-color: $accent-blue;
}

.accentRed {
  background-color: $accent-red;
}