@import "../../style.module";

.label {
  display: block;
  line-height: 1.25rem;
  font-family: BebasNeueRegular, serif;
  text-transform: uppercase;
  color: black;

  &.accentBlue, &.accentRed {
    color: white;
  }

  &.accentBlue {
    background-color: $accent-blue;
  }

  &.accentRed {
    background-color: $accent-red;
  }
}