@import "../../style.module";

button.button {
  border-radius: 0;
  font-family: BebasNeueRegular, serif;
  text-transform: uppercase;
  outline: none;
  box-shadow: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.accentBlue {
  background-color: $accent-blue;
}

.accentRed {
  background-color: $accent-red;
}

