@import "./../../index.module.scss";

header {
	.headerWrapper {
		display: flex;
		justify-content: center;
		background-color: #f8f8f8;
		border-bottom: 1px solid #e1e1e1;
		padding: 1rem;

		.topHeader a,
		.topHeader .icon {
			color: $color-header-top-menu;
		}

		.bottomHeader a {
			color: $color-header-bottom-menu;
			font-size: 1.4rem;
			font-family: 'BebasNeueRegular', serif;
		}

		.topHeader a,
		.bottomHeader a {
			transition: color 0.5s;

			&:hover,
			&:focus,
			&:visited {
				text-decoration: none;
			}
			&:hover {
				color: $color-hover;
			}
		}

		.root {
			flex-grow: 1;
		}
	}
}
