// Colors
$white: #fff;
$black: #000;
$red: #9d331b;
$grey: #e1e1e1;
$light-grey : #f8f8f8;
$light-blue: #2f767b;
$light-black: #444444;
$color-hover: #9d331b;
$color-heading: #106178;
$color-speedbar: #2f767b;
$color-secondary: #8f8f8f;
$color-header-bottom-menu: #737373;
$color-header-top-menu: #585858;

// Sizes
$footer-height: 15rem;
$main-page-slider-height: 400px;

// Colors
$accent-red: #9d331b;
$accent-blue: #014c8c;


html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body, body > div {
  height: 100%;
}

.appWrapper {
  margin-bottom: $footer-height;
}

.appFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}