@import "../../../app.scss";


.headerWrapper {
	background-color: #f8f8f8;
	border-bottom: 1px solid #e1e1e1;

	.topHeader a,
	.topHeader .icon {
		color: $color-header-top-menu;
	}

	.bottomHeader a {
		color: $color-header-bottom-menu;
		font-size: 1.4rem;
		font-family: 'BebasNeueRegular';
	}

	.topHeader a,
	.bottomHeader a {
		transition: color 0.5s;

		&:hover,
		&:focus,
		&:visited {
			text-decoration: none;
		}
		&:hover {
			color: $color-hover;
		}
	}
}