@import "./../../index.module.scss";

$itemWidth: 10rem;
$itemHeight: 10rem;

$borderRadius: 1rem;

// Special css here. Please, have a look:
// https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
.addImageInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.addImageLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: $itemWidth;
  height: $itemHeight;
  border: 2px solid $accent-blue;
  border-radius: $borderRadius;
  cursor: pointer;

  span {
    color: $accent-blue;
    text-align: center;
  }

  .cameraIcon {
    font-size: 3rem;
    color: $accent-blue;
  }
}